# AI & ML

Rule based AI

Pattern, Features based AI

Statistics     <br/> ML         <br/> DL        <br/> Reinforcement

Supervised

Unsupervised

Neural Network

Semi-Supervised

Self-Supervised

# Domain (Kind of Data)

Structured <br/> Unstructured <br/> Text <br/> Images <br/> Videos <br/> Numbers

# Type of Data

Categorical <br/> Continueous <br/>

# Python

In [1]:
# No need to specify the type of data
a = 3.5
b = "It's" 
b

"It's"

In [3]:
#assignment
a = a + 10
a

23.5

In [23]:
a = a + 10
a

23.5

In [7]:
b + '10'
'mayur' + 'AI'

'mayurAI'

In [25]:
b + 10

TypeError: can only concatenate str (not "int") to str

In [26]:
b + str(10)

"It's10"

In [8]:
#String
z = "My name is Mayur"
print(z[1])
print(z[-1])
print(z[:4])
print(z[5:7])
print(z[::-1])

y
r
My n
me
ruyaM si eman yM

In [9]:
print(f"It is integer {a}")

It is integer 23.5

In [14]:
# List
a = [[1],[2], [3], [4]]
a

[[1], [2], [3], [4]]

In [18]:
a[0] = [2]
a

[[2], [2], [3], [4]]

In [30]:
# List Comprehensions

In [20]:
# Tuple
tu = (4, 5, 6)
tu
tu[0] = 34

TypeError: 'tuple' object does not support item assignment

In [24]:
#Dictionary
d = {"age" : 16, "h" : 4}
d

{'age': 16, 'h': 4}

In [27]:
d["age"]

16

In [31]:
# Set
a = set((1,2,3))
a

{1, 2, 3}

In [45]:
import cv2
img = cv2.imread("1.PNG")
img.shape

(420, 788, 3)

In [32]:
#File
fi = open("test.txt", 'r')
fi.read()

'First Line\nSecond Line\n;lsdflsdf'

In [33]:
#Functions
def add(a, b=3):
    return a+b

In [35]:
addition = add(2, 77)
addition

79

In [36]:
!pip install opencv-python

Requirement already satisfied: opencv-python in c:\users\mayur.akewar\appdata\local\programs\python\python38\lib\site-packages (4.5.2.52)
Requirement already satisfied: numpy>=1.17.3 in c:\users\mayur.akewar\appdata\local\programs\python\python38\lib\site-packages (from opencv-python) (1.19.5)

WARNING: You are using pip version 21.3; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\mayur.akewar\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [37]:
#Package

In [38]:
#Class and Objects

In [39]:
#Exceptions

In [40]:
#Packages

In [41]:
#Numpy

In [37]:
#Pandas
import pandas as pd

In [38]:
df = pd.read_csv("USA_Housing.csv")
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [40]:
df.describe()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5.000000e+03
mean,68583.108984,5.977222,6.987792,3.981330,36163.516039,1.232073e+06
std,10657.991214,0.991456,1.005833,1.234137,9925.650114,3.531176e+05
min,17796.631190,2.644304,3.236194,2.000000,172.610686,1.593866e+04
25%,61480.562388,5.322283,6.299250,3.140000,29403.928702,9.975771e+05
50%,68804.286404,5.970429,7.002902,4.050000,36199.406689,1.232669e+06
75%,75783.338666,6.650808,7.665871,4.490000,42861.290769,1.471210e+06
max,107701.748378,9.519088,10.759588,6.500000,69621.713378,2.469066e+06

In [43]:
#Tabular data

In [44]:
#Image Data

In [45]:
#PIP

In [46]:
#Practical first

In [47]:
#Hypothesis
#Prediction based on existing knowledge
# An apple a day keeps Dr away
# Ask a question : what are the health benifits
# Do some preliminary research : apple have vitamins
# Formulate hypothesis
# Experiment
# Proove

In [48]:
#Concept Learning

In [50]:
# Dog is a Concept
# concept of Dog is built out of features such as “furry,” “barks,” “four-legged,” “domesticated,” “friendly,” and “loyal.”
# "the search for and listing of attributes that can be used to distinguish exemplars from non exemplars of various categories"
"""
concepts are the mental categories that help us classify objects, events, or ideas, 
building on the understanding that each object, event, or idea has a set of common relevant features 
"""

'\nconcepts are the mental categories that help us classify objects, events, or ideas, \nbuilding on the understanding that each object, event, or idea has a set of common relevant features \n'

"""
concept learning is a strategy which requires a learner to compare and contrast groups or categories 
that contain concept-relevant features with groups or categories that do not contain concept-relevant features.
"""

Discovery – Every baby discovers concepts for itself, such as discovering that each of its fingers can be individually controlled or that care givers are individuals. Although this is perception driven, formation of the concept is more than memorizing perceptions. <br/><br/>

Examples – Supervised or unsupervised generalizing from examples may lead to learning a new concept, but concept formation is more than generalizing from examples.<br/><br/>

Words – Hearing or reading new words leads to learning new concepts, but forming a new concept is more than learning a dictionary definition. A person may have previously formed a new concept before encountering the word or phrase for it.<br/><br/>

Exemplars comparison and contrast

**FIND-S algorithm** <br/> 
for finding the most specific hypothesis based on a given set of training data samples. <br/>Read the training data from a .CSV file.

In [55]:
#Specific Hypothesis
#Concept : Dog (color:)

In [56]:
#Generalized Hypothesis
# (Legs)

The find-S algorithm starts with the most specific hypothesis and generalizes this hypothesis <br/> each time it fails to classify an observed positive training data. <br/>Hence, the Find-S algorithm moves from the most specific hypothesis to the most general hypothesis.

In [57]:
import pandas as pd

In [86]:
data = pd.read_csv('data1.csv')
data.head()

   color  legs  dog
0  brown     4  yes
1  brown     4  yes
2  black     1   no
3  green     3   no
4   gray     4  yes

Start with the most specific hypothesis. <br/>
h = {ϕ, ϕ, ϕ, ϕ, ϕ, ϕ} <br/>
Take the next example and if it is negative, then no changes occur to the hypothesis. <br/>
If the example is positive and we find that our initial hypothesis is too specific then we update our current hypothesis to a general condition. <br/>
Keep repeating the above steps till all the training examples are complete.<br/>
After we have completed all the training examples we will have the final hypothesis when can use to classify the new examples.

In [88]:
import pandas as pd
data = pd.read_csv('data1.csv')
data.head()
features = data.iloc[:,:-1].values.tolist()
target = data.iloc[:,-1].values.tolist()
print(target)
h = [0 for x in range(len(features[0]))]
print(h)
#
#
# training function to implement find-s algorithm
Flag = False
pos = 0
for ind, val in enumerate(features):
    if target[ind] == 'yes' and Flag == False:
        pos = ind
        Flag = True
        positiveExample = val
    if ind > pos and target[ind] == 'yes':
        for i, f in enumerate(val):
            if positiveExample[i] != f:
                h[i] = '?'
                positiveExample = val
            else:
                pass
print(h)

['yes', 'yes', 'no', 'no', 'yes']
[0, 0]
['?', 0]

In [90]:
import pandas as pd
data = pd.read_csv('data1.csv')
data.head()
features = data.iloc[:,:-1].values.tolist()
target = data.iloc[:,-1].values.tolist()
print(target)

def train(c, t):
    for i, val in enumerate(t):
        if val == "yes":
            specific_hypothesis = c[i].copy()
            break

    for i, val in enumerate(c):
        if t[i] == "yes":
            for x in range(len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x] = '?'
                else:
                    pass

    return specific_hypothesis


# obtaining the final hypothesis
print("The final hypothesis is:", train(features, target))

['yes', 'yes', 'no', 'no', 'yes']
The final hypothesis is: ['?', 4]

**REGRESSION**

The data shows the results of a recently conducted study on the correlation of the number of hours spent driving with the risk of developing acute backache. Find the equation of the best fit line for this data

In [1]:
#data given
#number of hours spent driving
no_of_hours = [10,9,2,15,10,16,11,16]
no_of_hours

[10, 9, 2, 15, 10, 16, 11, 16]

In [2]:
#data given
#risk of developing acute backache
risk_score = [95,80,10,50,45,98,38,93]
risk_score

[95, 80, 10, 50, 45, 98, 38, 93]

In [3]:
import pandas as pd
import numpy as np
stepSize = 0.01

In [4]:
lr_data = pd.DataFrame(np.column_stack([no_of_hours,risk_score]),columns=['hours','score'])
#lr_data = pd.DataFrame({'hours': no_of_hours,'score':risk_score })
lr_data.head()

   hours  score
0     10     95
1      9     80
2      2     10
3     15     50
4     10     45

In [5]:
def score_for_data(constant, slope, data):
    return slope * data + constant   # y = mx + c format

In [6]:
def step_cost_function_for(risk_score_data, constant, slope) :
    global stepSize
    diff_sum_constant = 0 # diff of sum for constant 'c' in "c + mx" equation
    diff_sum_slope = 0  # diff of sum for 'a' in "c + mx" equation
    hours_for = list(risk_score_data['hours'])

    for ho in hours_for: # for each hours in the sample data
        k=0
        # get the score for given 'c' and 'm' by giving the hours for this sample record
        trg_data_score = score_for_data(constant, slope, ho) # calculated score for current 'c' and 'm'
        a_hour_score = risk_score_data['score'][k] # real score for this record
        diff_sum_slope = diff_sum_slope + ((trg_data_score - a_hour_score) * ho) # slope's (h(y) - y) * x
        diff_sum_constant = diff_sum_constant + (trg_data_score - a_hour_score) # consant's (h(y) - y)
        k=k+1

    step_for_constant = (stepSize / len(risk_score_data)) * diff_sum_constant # distance to be moved by c
    step_for_slope = (stepSize / len(risk_score_data)) * diff_sum_slope # distance to be moved by a
    new_constant = constant - step_for_constant # new c
    new_slope = slope - step_for_slope # new a

    return new_constant, new_slope

In [7]:
def get_weights(risk_score_data) :
    constant = 1
    slope = 1
    accepted_diff = 0.01

    while 1 == 1:  # continue till we reach local minimum
        new_constant, new_slope = step_cost_function_for(risk_score_data, constant, slope)
        # if the diff is too less then lets break
        if (abs(constant - new_constant) <= accepted_diff) and (abs(slope - new_slope) <= accepted_diff):
            print("done. Diff is less than " + str(accepted_diff))
            return new_constant, new_slope
        else:
            constant = new_constant
            slope = new_slope
            print("new values for constant and slope are " + str(new_constant) + ", " + str(new_slope))

In [ ]:
constant, slope = get_weights(lr_data)
print(f"constant : {constant} and slope : {slope}")

print(f"Equation is : Y = {slope} * X + {constant}")

In [ ]:
y = mx + c